<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LKS_SMK_JATI_HOTEL.Properties.Settings.LKS_SMK_JATI_HOTEL_ConnectionString"
            connectionString="Data Source=DESKTOP-8UJEI4N\MSSQLSERVER01;Initial Catalog=LKS-SMK_JATI_HOTEL-;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LKS_SMK_JATI_HOTEL.Properties.Settings.LKS_SMK_JATI_HOTEL_ConnectionString1"
            connectionString="Data Source=DESKTOP-FDMC7DB;Initial Catalog=LKS-SMK_JATI_HOTEL-;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>